node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
firebase-admin-key.jsonservice-account.json
firebase-admin-key.json
*.json # Or be more specific if you need other JSON files
.env
.env.local
